<template>
    <div>
        <div class="my-container col-12 d-flex justify-content-center">
            <div class="d-flex align-items-center flex-row">
                <div>
                    <h1 class="display-2 header--home-page">Go To Room List</h1>
                    <button class="btn btn-secondary btn-lg btn-block" @click="checkOutConfreneces">Checkout
                        Conferences
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        methods: {
            checkOutConfreneces() {
                this.$router.push("/room");
            }
        }
    }
</script>

<style>
    .header--home-page{
        color: white;
        text-shadow: 4px 3px #c1bbbb;
    }
    .my-container {
        background-image: url("/images/chat.jpg");
        background-position: center;
        background-size: cover;
        height: 100vh;
        overflow: hidden;
    }
</style>
