<template>
    <div v-if="loader" class="row loader-container">
        <div class="loader"></div>
    </div>
    <div v-else class="row py-3 room-container d-block d-sm-block d-md-flex justify-content-center">
        <div class="col-md-5 col-sm-12 col-lg-3">
            <div class="card local-user-container">
                <div class="card-header">
                    <span>Hello {{nickName}} !</span>
                </div>
                <div class="local-media-card card-body text-center">
                    <div id="local-media"></div>
                    <div id="room-controls">
                        <button @click="leaveActiveRoom" class="mb-2 btn btn-primary btn-sm">Leave Room</button>
                        <button  v-if="showJoinButton" class="mb-2 btn btn-primary btn-sm" @click="setConnection">Join</button>
                        <button @click="showModal" class="mb-2 btn btn-primary btn-sm">Show Room Link</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-sm-12 col-lg-8">
            <div class="card">
                <div class="card-header">
                    <p>Your Friends</p>
                </div>
                <div class="card-body">
                    <div id="remote-media" class="d-flex justify-content-around flex-wrap">
                    </div>
                </div>
            </div>
        </div>

        <template>
            <div>
                <b-modal ref="myModalRef" hide-footer title="Link to this room">
                    <div class="row justify-content-center p-3">
                        <p>{{url}}</p>
                    </div>
                </b-modal>
            </div>
        </template>

    </div>
</template>

<script>
    import bModal from 'bootstrap-vue/es/components/modal/modal'
    import bModalDirective from 'bootstrap-vue/es/directives/modal/modal'

    export default {
        components: {
            'b-modal': bModal
        },
        directives: {
            'b-modal': bModalDirective
        },
        data() {
            return {
                showJoinButton: false,
                activeRoom: null,
                previewTracks: null,
                loader: true,
                participants: null,
                connectOptions: {
                    name: this.$route.params.roomName,
                    audio: false,
                    video: false
                }
            }
        },
        computed: {
            url() {
                return window.location.hostname + '/room?roomName=' + this.$route.params.roomName;
            },
            nickName() {
                return this.$store.getters.nickName;
            }
        },
        created() {
            window.addEventListener('beforeunload', this.leaveActiveRoom);
        },
        mounted() {
            if (this.nickName === '') {
                this.$router.push('/room');
            }
            this.joinRoom();
            this.getParticipantsInfo()
        },
        methods: {
            showModal() {
                this.$refs.myModalRef.show()
            },
            hideModal() {
                this.$refs.myModalRef.hide()
            },
            setConnection() {
                this.connectOptions.audio = true;
                this.connectOptions.video = true;
                this.joinRoom();
            },
            getParticipantsInfo() {
                this.$http.get('/api/room/participants/' + this.$route.params.roomName).then((response) => {
                    this.participants = response.data;
                    this.showJoinButton = true;
                    this.loader = false;
                })

            },
            joinRoom() {
                this.$http.post('/api/room/join/',
                    {
                        roomName: this.$route.params.roomName,
                        userName: this.nickName
                    }
                ).then((response) => {
                    let connectOptions = this.connectOptions;

                    if (this.previewTracks) {
                        connectOptions.tracks = this.previewTracks;
                    }

                    Twilio.Video.connect(response.data.token, connectOptions).then(this.roomJoined, (error) => {
                        console.log('Could not connect to Twilio: ' + error.message);
                    });
                });
            },
            roomJoined(room) {
                if (this.activeRoom) {
                    this.activeRoom.disconnect();
                }
                this.activeRoom = room;

                //Attach LocalParticipant's Tracks, if not already attached.
                let previewContainer = document.getElementById('local-media');
                if (!previewContainer.querySelector('video')) {
                    this.attachParticipantTracks(room.localParticipant, previewContainer);
                }

                // Attach the Tracks of the Room's Participants.
                room.participants.forEach((participant) => {
                    let previewContainer = document.getElementById('remote-media');
                    this.attachParticipantTracks(participant, previewContainer);
                });

                // When a Participant joins the Room, log the event.
                room.on('participantConnected', (participant) => {
                });

                // When a Participant adds a Track, attach it to the DOM.
                room.on('trackSubscribed', (track, participant) => {
                    let previewContainer = document.getElementById('remote-media');
                    this.attachTracks([track], previewContainer);
                });

                // When a Participant removes a Track, detach it from the DOM.
                room.on('trackUnsubscribed', (track, participant) => {
                    this.detachTracks([track]);
                });

                // When a Participant leaves the Room, detach its Tracks.
                room.on('participantDisconnected', (participant) => {
                    this.detachParticipantTracks(participant);
                });

                // Once the LocalParticipant leaves the room, detach the Tracks
                // of all Participants, including that of the LocalParticipant.
                room.on('disconnected', () => {
                    if (this.activeRoom) {
                        this.activeRoom.disconnect();
                    }
                    this.loader = true;
                    if (this.previewTracks) {
                        this.previewTracks.forEach((track) => {
                            track.stop();
                        });
                        this.previewTracks = null;
                    }
                    this.detachParticipantTracks(room.localParticipant);
                    room.participants.forEach(this.detachParticipantTracks);
                    this.activeRoom = null;
                    this.loader = false;

                });
            },
            attachTracks(tracks, container) {
                tracks.forEach((track) => {

                    container.appendChild(track.attach());
                });
            },

            attachParticipantTracks(participant, container) {
                let tracks = Array.from(participant.tracks.values());
                this.attachTracks(tracks, container);
            },

            detachTracks(tracks) {
                tracks.forEach((track) => {
                    track.detach().forEach((detachedElement) => {
                        detachedElement.remove();
                    });
                });
            },
            detachParticipantTracks(participant) {
                let tracks = Array.from(participant.tracks.values());
                this.detachTracks(tracks);
            },
            leaveActiveRoom() {
                if (this.activeRoom) {
                    this.activeRoom.disconnect();
                }
                this.$router.push('/room')
            },
        }
    }
</script>

<style>
    .room-container {
        background-image: url("/images/chat.jpg");
        background-attachment: fixed;
        background-size: cover;
        height: 100vh;
        overflow: hidden;
    }
    #remote-media video {
        height: 350px;
        min-height: 350px;
        padding: 10px;
    }
    .remote-media-card{
        min-width:400px;
    }
    .local-media-card{
        min-width:260px;
    }
    .local-user-container {
        position: relative;
        top: 0;
        left: 0;
    }
    #local-media video {
        min-height: 250px;
        max-height: 250px;
    }
</style>
