<template>
    <div class="h-100">
        <div v-if="loader" class="row loader-container">
            <div class="loader"></div>
        </div>
        <div v-else-if="roomList" class="h-100 room-list-container justify-content-center text-center p-5">
            <div class="input-group mx-auto mb-5">
                <div class="input-group-prepend">
                    <button class="btn btn-primary" @click="createOrJoinRoom" type="button">Create / Join
                    </button>
                </div>
                <input type="text" class="form-control"
                       placeholder="You can create your own room or join existing one"
                       v-model="roomName" @keyup.enter="createOrJoinRoom">
                <div v-if="validationError !== ''" class="alert alert-danger" role="alert">
                    {{validationError}}
                </div>
            </div>
            <div class="card m-auto p-0">
                <h3 class="card-header">Available Rooms</h3>
                <div class="d-flex flex-row flex-wrap justify-content-around">
                    <div v-if="roomList.length === 0" class="py-3">
                        <p class="text-muted mb-0"> No rooms available</p>
                        <p class="text-muted mb-0">Just create one</p>
                    </div>
                    <div v-for="room in roomList" @click="showModal(room)"
                         class="card m-4 col-sm-10 col-md-6 col-lg-3">
                        <div class="card-body d-flex flex-column pb-3">
                            <p class="card-title mb-1 text-center">{{room}}</p>
                            <button class="btn btn-primary">Join</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--MODAL WITH INPUT-->
        <template>
            <div>
                <b-modal ref="myModalRef" hide-footer title="Choose Your Nick Name">
                    <div v-if="modalLoader" class="row justify-content-center">
                        <div class="loader"></div>
                    </div>
                    <div v-else style="word-wrap: break-word">
                        <div class="form-group">
                            <input placeholder="What's your name?" class="form-control" id="username"
                                   v-model="nickName">
                        </div>
                        <div v-if="userNameValidation !== ''" class="alert alert-danger" role="alert">
                            {{userNameValidation}}
                        </div>
                        <hr>
                        <div class="card mb-2">
                            <div class="card-header">Participants</div>
                            <div v-if="participants.length !== 0" class="card-body">
                                <span class="card-title px-1 border-right" v-for="participant in participants">{{participant}}</span>
                            </div>
                            <div v-else class="card-body">
                                <span class="card-title px-1 border-right">No participants yet</span>
                            </div>
                        </div>
                        <button class="btn btn-primary" @click="joinRoom">Join Conference</button>
                    </div>
                </b-modal>
            </div>
        </template>
    </div>
    <!--MODAL WITH INPUT-->
</template>

<script>

    import bModal from 'bootstrap-vue/es/components/modal/modal'
    import bModalDirective from 'bootstrap-vue/es/directives/modal/modal'

    export default {
        components: {
            'b-modal': bModal
        },
        directives: {
            'b-modal': bModalDirective
        },
        data() {
            return {
                roomName: '',
                selectedRoomName: '',
                validationError: '',
                userNameValidation: '',
                roomList: null,
                loader: true,
                modalLoader: true,
                participants: []
            }
        },
        computed: {
            nickName: {
                get() {
                    return this.$store.getters.nickName;
                },
                set(nickName) {
                    this.$store.dispatch('setNickName', nickName)
                }
            },
        },
        mounted() {
            this.getAllRooms();
            if (this.$route.query.roomName) {
                this.showModal(this.$route.query.roomName)
            }
        },
        methods: {
            showModal(roomName) {
                this.selectedRoomName = roomName;
                this.getParticipantsInfo(roomName);
                this.$refs.myModalRef.show()
            },
            hideModal() {
                this.$refs.myModalRef.hide()
            },
            getAllRooms() {
                this.$http.get('api/room').then((response) => {
                    this.roomList = response.data.rooms;
                    this.loader = false;
                })
            },
            createOrJoinRoom() {
                switch (true) {
                    case (this.roomName.length === 0) : {
                        this.validationError = 'I bet You can create best name !';
                        break;
                    }
                    case(this.roomName.length > 0 && this.roomName.length < 5) : {
                        this.validationError = 'Just a little bit longer please :)';
                        break;
                    }
                    default : {
                        this.validationError = '';
                        this.showModal(this.roomName);
                    }
                }
            },
            joinRoom() {
                if (this.selectedRoomName !== '') {
                    this.userNameValidation = '';
                    if (this.participants.includes(this.nickName)) {
                        this.userNameValidation = 'This NickName already participate';
                    }
                    if (this.nickName.length === 0) {
                        this.userNameValidation = 'You can do it :)';
                    }
                    if (this.nickName.length > 0 && this.nickName.length < 5) {
                        this.userNameValidation = 'Just a little bit longer';
                    }
                    if (this.userNameValidation === '') {
                        this.$router.push('/room/' + this.selectedRoomName);
                    }
                }
            },
            async getParticipantsInfo(room) {
                await this.$http.get('/api/room/participants/' + room).then((response) => {
                    this.participants = response.data;
                    this.modalLoader = false;
                })
            }
        }
    }
</script>

<style>
    #remote-media video {
        min-height: 300px;
        max-height: 300px;
    }

    #local-media video {
        min-height: 300px;
        max-height: 300px;
    }

    .loader-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .room-list-container {
        background-image: url("/images/chat.jpg");
        background-attachment: fixed;
        background-size: cover;
    }


</style>
